@font-face {
  font-family: Code Light;
  src: url('./fonts/CODE\ Light.otf');
}

@font-face {
  font-family: Code Bold;
  src: url('./fonts/CODE\ Bold.otf');
}
@import url('https://fonts.googleapis.com/css?family=Satisfy');

@import url('https://fonts.googleapis.com/css?family=K2D');


/* Elements */
h2{
font-size: 20px;
  font-family: Code Bold;
  color: #34E4EA;
}
h3{
    font-family: 'Satisfy', cursive;
font-size: 15px;
}
h4{
  display: inline;
  font-family: 'Satisfy', cursive;
font-size: 12px;
}
p{
  font-family: 'K2D', sans-serif;

  font-size: 9px;
}
form{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

label{
  font-family: Code Bold;

}

/* Classes */
.App {
  text-align: center;
  background-color: #F5EFED;
}
.profile{
  width: 100%;
  max-width: 720px;
  margin-top: 20px;
  margin-bottom: 20px;

}
.profile-image{
  border-bottom: 1px solid #0F0A0A;
}
.about-container{
  width: 100%;
  /* border: 1px solid red;  */
  border-bottom: 1px solid #0F0A0A;

}
.about-title{
  margin-bottom: 0;
}
.about-info{
  
  /* border: 1px solid red; */
  width: 90%;
  display: flex;
  justify-content: center;
  margin-left: 5px;

}

p.about-text{
  width: 50%;
  /* border: 1px solid red; */
  margin-right: 5px;

}
.about-photo-list{
  width: 33%;
  /* border: 1px solid red; */
  flex-direction: column;
  padding: 0;
  margin-top: 5px;
  }
  .about-photo-list >li {
    width: 100%;
  }

.about-img-1, .about-img-2, .about-img-3{
  width:100%;
  /* border: 1px solid red; */

}
.about-img-1, .about-img-2{
  padding-bottom: 20px;

}


.projects-container{
  width: 100%;
  /* border: 1px solid red;  */
  border-bottom: 1px solid #0F0A0A;

}
.project-title-1{
  position: relative;
  right: 3%;
}
.project-title-2{
  position: relative;
  right: 3%;
}
.project1-description{
  position: relative;
  right: 4%;
}
.project2-description{
  position: relative;
  right: 4%;
}
.project-list{
  width:80%;
}
.project-shot-1{
  width: 100%;
}
.project-shot-2{
  width: 50%;
}
.skill-title{
  position: relative;
  right: 3%;
}
.skill-bars{
  position: relative;
  right: 3%;
}
.skillbar-title > span{
  font-size: 11px;
}
.project-description, .project2-description{
  float: right;
  font-family: 'K2D', sans-serif;
  margin-top:0; 
}
.artwork-container{
  
  width: 100%;
  /* border: 1px solid red;  */
  border-bottom: 1px solid #0F0A0A;
}
.artwork-title{
  margin-bottom: 0;
}
.artworks{
  display: flex;
  flex-wrap: wrap;

}
.artwork-list-1, .artwork-list-2, .artwork-list-3{
  width: 29%;
  /* border: 1px solid red; */
  flex-direction: column;
  padding: 0;
  margin-top: 15px;
  margin-left: 10px;
  }
  .artwork-list-1 > li{
    margin-bottom: 31px;
  }
  .artwork-list-3 > li{
    margin-bottom: 37px;
  }
.artwork-img-1, .artwork-img-2, .artwork-img-3{
  width: 100%;
}
.photography-container{
  
  width: 100%;
  /* border: 1px solid red;  */
  border-bottom: 1px solid #0F0A0A;
}
.photography-title{
  margin-bottom: 0;
}
.photos{
  display: flex;
  flex-wrap: wrap;

}
.photography-list-1, .photography-list-2, .photography-list-3{
  width: 29%;
  /* border: 1px solid red; */
  flex-direction: column;
  padding: 0;
  margin-top: 15px;
  margin-left: 10px;
  }
  .photography-list-2 > li{
    margin-bottom: 15px;
  }
  .photography-list-3 > li{
    margin-bottom: 23px;
  }
.photography-img-1, .photography-img-2, .photography-img-3{
  width: 100%;
}
.contact-container{
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.contact-title{
  width: 100%;
  margin-bottom:0;
}
p.contact-sub-text{
  font-family: Code Light;
  width: 66%;
  margin-top: 5px;
}
.contact-signature{
  margin-top: 0;
}


.contact-name{
  width: 100%;
  padding-bottom: 15px;
}
.contact-email{
  width: 100%;
}
.contact-message{
  width: 75%;
  padding-bottom: 10px;

}
.submit{
  width: 33%;
  font-family: Code Bold;
  background-color: #0EB1D2;
  padding-top: 3px;
}


/* Ids */

#name-input{
  border: 1px solid #34E4EA;
  width: 40%;

}

#email-input{
  border: 1px solid #34E4EA;
  width: 40%;
}

#message-input{
  border: 1px solid #34E4EA;
  width: 80%;
}

@media all and (max-width: 320px) {

}
/* S5 */
@media all and (min-width: 321px) and (max-width: 360px) {
  h2{
    font-size: 22px;
   }
h3{
  font-size: 17px;  
}
  h4{
    font-size: 14px;
  }
  p{  
    font-size: 11px;
  }
  .about-info{
 
    margin-left: 14px;
  
  }
  .about-photo-list{
    width: 40%;
    margin-top: 25px;
    }
    .artwork-list-1, .artwork-list-2, .artwork-list-3{
      width: 29.7%;
      /* border: 1px solid red; */
      flex-direction: column;
      padding: 0;
      margin-top: 15px;
      margin-left: 10px;
      }
      .artwork-list-1 > li{
        margin-bottom: 34px;
      }
      .artwork-list-3 > li{
        margin-bottom: 41px;
      }
      .photography-list-1, .photography-list-2, .photography-list-3{
        width: 29.7%;
        /* border: 1px solid red; */
        flex-direction: column;
        padding: 0;
        margin-top: 15px;
        margin-left: 10px;
        }
        .photography-list-2 > li{
          margin-bottom: 18px;
        }
        .photography-list-3 > li{
          margin-bottom: 26px;
        }
}
/* iPhone 6/7/8 */

@media all and (min-width: 361px) and (max-width: 375px){
  h2{
    font-size: 24px;
   }
h3{
  font-size: 19px;  
}
  h4{
    font-size: 16px;
  }
  
  p{
    font-size: 13px;
      }
      .about-info{
 
        margin-left: 14px;
      
      }
      .about-photo-list{
        width: 47%;
        padding-top: 47px;
        }
        .project-title-1{
          position: relative;
          right: 2%;
        }
        .project-title-2{
          position: relative;
          right: 2%;
        }
        .project1-description{
          position: relative;
          right: 2%;
        }
        .project2-description{
          position: relative;
          right: 2%;
        }
        .skill-bars{
          position: relative;
          right: 0%;
        }
        .artwork-list-1, .artwork-list-2, .artwork-list-3{
          width: 29.7%;
          /* border: 1px solid red; */
          flex-direction: column;
          padding: 0;
          margin-top: 15px;
          margin-left: 10px;
          }
          .artwork-list-1 > li{
            margin-bottom: 36px;
          }
          .artwork-list-3 > li{
            margin-bottom: 44px;
          }
          .photography-list-1, .photography-list-2, .photography-list-3{
            width: 29.7%;
            /* border: 1px solid red; */
            flex-direction: column;
            padding: 0;
            margin-top: 15px;
            margin-left: 10px;
            }
            .photography-list-2 > li{
              margin-bottom: 18px;
            }
            .photography-list-3 > li{
              margin-bottom: 26px;
            }
}
 /* iPhone X */
 @media only screen and (min-width: 361px) and (max-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
  h2{
    font-size: 24px;
   }
h3{
  font-size: 19px;  
}
  h4{
    font-size: 16px;
  }
  
  p{
    font-size: 13px;
      }
      .about-info{
 
        margin-left: 14px;
      
      }
      .about-photo-list{
        width: 47%;
        padding-top: 47px;
        }
        .project-title-1{
          position: relative;
          right: 2%;
        }
        .project-title-2{
          position: relative;
          right: 2%;
        }
        .project1-description{
          position: relative;
          right: 1%;
        }
        .project2-description{
          position: relative;
          right: 1%;
        }
        .skill-bars{
          position: relative;
          right: 0%;
        }
        .artwork-list-1, .artwork-list-2, .artwork-list-3{
          width: 29.7%;
          /* border: 1px solid red; */
          flex-direction: column;
          padding: 0;
          margin-top: 15px;
          margin-left: 10px;
          }
          .artwork-list-1 > li{
            margin-bottom: 36px;
          }
          .artwork-list-3 > li{
            margin-bottom: 44px;
          }
          .photography-list-1, .photography-list-2, .photography-list-3{
            width: 29.7%;
            /* border: 1px solid red; */
            flex-direction: column;
            padding: 0;
            margin-top: 15px;
            margin-left: 10px;
            }
            .photography-list-2 > li{
              margin-bottom: 18px;
            }
            .photography-list-3 > li{
              margin-bottom: 26px;
            }
 }
/* Pixel 2 */

@media all and (min-width: 376px) and (max-width: 411px) {
  h2{
    font-size: 26px;
   }
h3{
  font-size: 21px;  
}
  h4{
    font-size: 18px;
  }
  
  p{
    font-size: 15px;
      }
      .about-info{
 
        margin-left: 20px;
      
      }
      .about-photo-list{
        width: 57%;
        padding-top: 70px;
        }
        .project-title-1{
          position: relative;
          right: 0%;
        }
        .project-title-2{
          position: relative;
          right: 0%;
        }
        .project1-description{
          position: relative;
          right: 0%;
        }
        .project2-description{
          position: relative;
          right: 0%;
        }
        .skill-bars{
          position: relative;
          right: 0%;
        }
        .artwork-list-1, .artwork-list-2, .artwork-list-3{
          width: 29.7%;
          /* border: 1px solid red; */
          flex-direction: column;
          padding: 0;
          margin-top: 15px;
          margin-left: 10px;
          }
          .artwork-list-1 > li{
            margin-bottom: 36px;
          }
          .artwork-list-3 > li{
            margin-bottom: 44px;
          }
          .photography-list-1, .photography-list-2, .photography-list-3{
            width: 29.7%;
            /* border: 1px solid red; */
            flex-direction: column;
            padding: 0;
            margin-top: 15px;
            margin-left: 10px;
            }
            .photography-list-2 > li{
              margin-bottom: 18px;
            }
            .photography-list-3 > li{
              margin-bottom: 26px;
            }
}
/* iPhone 6/7/8 Plus */

@media all and (min-width: 412px) and (max-width: 414px) {
  h2{
    font-size: 26px;
   }
h3{
  font-size: 21px;  
}
  h4{
    font-size: 18px;
  }
  
  p{
    font-size: 15px;
      }
      .about-info{
 
        margin-left: 20px;
      
      }
      .about-photo-list{
        width: 57%;
        padding-top: 70px;
        }
        .project-title-1{
          position: relative;
          left: 1%;
        }
        .project-title-2{
          position: relative;
          left: 1%;
        }
        .project1-description{
          position: relative;
          right: 0%;
        }
        .project2-description{
          position: relative;
          right: 0%;
        }
        .skill-bars{
          position: relative;
          right: 0%;
        }
        .artwork-list-1, .artwork-list-2, .artwork-list-3{
          width: 30%;
          /* border: 1px solid red; */
          flex-direction: column;
          padding: 0;
          margin-top: 15px;
          margin-left: 10px;
          }
          .artwork-list-1 > li{
            margin-bottom: 40px;
          }
          .artwork-list-3 > li{
            margin-bottom: 49px;
          }
          .photography-list-1, .photography-list-2, .photography-list-3{
            width: 30%;
            /* border: 1px solid red; */
            flex-direction: column;
            padding: 0;
            margin-top: 15px;
            margin-left: 10px;
            }
            .photography-list-2 > li{
              margin-bottom: 21px;
            }
            .photography-list-3 > li{
              margin-bottom: 31px;
            }
}
/* iphone 5/SE landscape */
@media all and (min-width: 412px) and (max-width: 568px) and (orientation: landscape) {
  h2{
    font-size: 26px;
   }
h3{
  font-size: 21px;  
}
  h4{
    font-size: 18px;
  }
  
  p{
    font-size: 15px;
      }
      .about-info{
 
        margin-left: 20px;
      
      }
      .about-photo-list{
        width: 30%;
        padding-top: 40px;
        }

        .project-title-1{
          position: relative;
          left: 3%;
        }
        .project-title-2{
          position: relative;
          left: 3%;
        }
        .project1-description{
          position: relative;
          left: 3%;
        }
        .project2-description{
          position: relative;
          left: 3%;
        }
        .skill-title{
          position: relative;
          left: 3%;
        }
        .skill-bars{
          position: relative;
          left: 3%;
        }
        .artwork-list-1, .artwork-list-2, .artwork-list-3{
          width: 31%;
          /* border: 1px solid red; */
          flex-direction: column;
          padding: 0;
          margin-top: 15px;
          margin-left: 10px;
          }
          .artwork-list-1 > li{
            margin-bottom: 58px;
          }
          .artwork-list-3 > li{
            margin-bottom: 70px;
          }
          .photography-list-1, .photography-list-2, .photography-list-3{
            width: 31%;
            /* border: 1px solid red; */
            flex-direction: column;
            padding: 0;
            margin-top: 15px;
            margin-left: 10px;
            }
            .photography-list-2 > li{
              margin-bottom: 30px;
            }
            .photography-list-3 > li{
              margin-bottom: 44px;
            }
  p.contact-sub-text{
    position: relative;
    left: 16%;
    height: 30px;
  }
  .contact-signature {
    position: relative;
    right: 32%;
    margin-top: 40px;
    margin-bottom: 0;
  }
  .submit{
    width: 26%;
    height: 25px;
  }
}
/* S5 landscape */
@media all and (min-width: 569px) and (max-width: 640px) and (orientation: landscape) {
  h2{
    font-size: 28px;
   }
h3{
  font-size: 23px;  
}
  h4{
    font-size: 20px;
  }
  
  p{
    font-size: 17px;
      }
      .about-info{
 
        margin-left: 20px;
      
      }
      .about-photo-list{
        width: 30%;
        padding-top: 40px;
        }
        .project-title-1{
          position: relative;
          left: 5%;
        }
        .project-title-2{
          position: relative;
          left: 5%;
        }
        .project1-description{
          position: relative;
          left: 5%;
        }
        .project2-description{
          position: relative;
          left: 5%;
        }
        .skill-title{
          position: relative;
          left: 5%;
        }
        .skill-bars{
          position: relative;
          left: 5%;
        }
        .artwork-list-1, .artwork-list-2, .artwork-list-3{
          width: 31%;
          /* border: 1px solid red; */
          flex-direction: column;
          padding: 0;
          margin-top: 15px;
          margin-left: 10px;
          }
          .artwork-list-1 > li{
            margin-bottom: 64px;
          }
          .artwork-list-3 > li{
            margin-bottom: 78px;
          }
          .photography-list-1, .photography-list-2, .photography-list-3{
            width: 31%;
            /* border: 1px solid red; */
            flex-direction: column;
            padding: 0;
            margin-top: 15px;
            margin-left: 10px;
            }
            .photography-list-2 > li{
              margin-bottom: 33px;
            }
            .photography-list-3 > li{
              margin-bottom: 49px;
            }
  p.contact-sub-text{
    position: relative;
    left: 15%;
    height: 30px;
  }
  .contact-signature {
    position: relative;
    right: 32%;
    margin-top: 50px;
    margin-bottom: 0;
  }
  .submit{
    width: 26%;
    height: 25px;
  }
}

/* iPhone 6/7/8 landscape */
@media all and (min-width: 641px) and (max-width: 667px) and (orientation: landscape) {
  h2{
    font-size: 28px;
   }
h3{
  font-size: 25px;  
}
  h4{
    font-size: 22px;
  }
  
  p{
    font-size: 17px;
      }
      .about-info{
 
        margin-left: 20px;
      
      }
      .about-photo-list{
        width: 30%;
        padding-top: 33px;
        }
        .project-title-1{
          position: relative;
          left: 6%;
        }
        .project-title-2{
          position: relative;
          left: 6%;
        }
        .project1-description{
          position: relative;
          left: 6%;
        }
        .project2-description{
          position: relative;
          left: 6%;
        }
        .skill-title{
          position: relative;
          left: 6%;
        }
        .skill-bars{
          position: relative;
          left: 6%;
        }
        .artwork-list-1, .artwork-list-2, .artwork-list-3{
          width: 31.4%;
          /* border: 1px solid red; */
          flex-direction: column;
          padding: 0;
          margin-top: 15px;
          margin-left: 10px;
          }
          .artwork-list-1 > li{
            margin-bottom: 68px;
          }
          .artwork-list-3 > li{
            margin-bottom: 82px;
          }
          .photography-list-1, .photography-list-2, .photography-list-3{
            width: 31.4%;
            /* border: 1px solid red; */
            flex-direction: column;
            padding: 0;
            margin-top: 15px;
            margin-left: 10px;
            }
            .photography-list-2 > li{
              margin-bottom: 35px;
            }
            .photography-list-3 > li{
              margin-bottom: 52px;
            }
  p.contact-sub-text{
    position: relative;
    left: 16%;
    height: 30px;
  }
  .contact-signature {
    position: relative;
    right: 32%;
    margin-top: 50px;
    margin-bottom: 0;
  }
  .submit{
    width: 26%;
    height: 25px;
  }
}
/* Pixel 2 landscape */
@media all and (min-width: 668px) and (max-width: 731px) and (orientation: landscape) {
  h2{
    font-size: 30px;
   }
h3{
  font-size: 27px;  
}
  h4{
    font-size: 24px;
  }
  
  p{
    font-size: 19px;
      }
      .about-info{
 
        margin-left: 20px;
      
      }
      .about-photo-list{
        width: 30%;
        padding-top: 48px;
        }
        .project-title-1{
          position: relative;
          left: 6%;
        }
        .project-title-2{
          position: relative;
          left: 6%;
        }
        .project1-description{
          position: relative;
          left: 6%;
        }
        .project2-description{
          position: relative;
          left: 6%;
        }
        .skill-title{
          position: relative;
          left: 6%;
        }
        .skill-bars{
          position: relative;
          left: 6%;
        }
        .artwork-list-1, .artwork-list-2, .artwork-list-3{
          width: 31.5%;
          /* border: 1px solid red; */
          flex-direction: column;
          padding: 0;
          margin-top: 15px;
          margin-left: 10px;
          }
          .artwork-list-1 > li{
            margin-bottom: 75px;
          }
          .artwork-list-3 > li{
            margin-bottom: 91px;
          }
          .photography-list-1, .photography-list-2, .photography-list-3{
            width: 31.5%;
            /* border: 1px solid red; */
            flex-direction: column;
            padding: 0;
            margin-top: 15px;
            margin-left: 10px;
            }
            .photography-list-2 > li{
              margin-bottom: 39px;
            }
            .photography-list-3 > li{
              margin-bottom: 57px;
            }
  p.contact-sub-text{
    position: relative;
    left: 16%;
    height: 30px;
  }
  .contact-signature {
    position: relative;
    right: 32%;
    margin-top: 50px;
    margin-bottom: 0;
  }
  .submit{
    width: 26%;
    height: 25px;
  }
}
/* iPhone 6/7/8 Plus landscape */
@media all and (min-width: 732px) and (max-width: 737px) and (orientation: landscape) {
  h2{
    font-size: 30px;
   }
h3{
  font-size: 27px;  
}
  h4{
    font-size: 24px;
  }
  
  p{
    font-size: 19px;
      }
      .about-info{
 
        margin-left: 20px;
      
      }
      .about-photo-list{
        width: 30%;
        padding-top: 48px;
        }
        .project-title-1{
          position: relative;
          left: 6%;
        }
        .project-title-2{
          position: relative;
          left: 6%;
        }
        .project1-description{
          position: relative;
          left: 6%;
        }
        .project2-description{
          position: relative;
          left: 6%;
        }
        .skill-title{
          position: relative;
          left: 6%;
        }
        .skill-bars{
          position: relative;
          left: 6%;
        }
        .artwork-list-1, .artwork-list-2, .artwork-list-3{
          width: 31.5%;
          /* border: 1px solid red; */
          flex-direction: column;
          padding: 0;
          margin-top: 15px;
          margin-left: 10px;
          }
          .artwork-list-1 > li{
            margin-bottom: 75px;
          }
          .artwork-list-3 > li{
            margin-bottom: 91px;
          }
          .photography-list-1, .photography-list-2, .photography-list-3{
            width: 31.5%;
            /* border: 1px solid red; */
            flex-direction: column;
            padding: 0;
            margin-top: 15px;
            margin-left: 10px;
            }
            .photography-list-2 > li{
              margin-bottom: 39px;
            }
            .photography-list-3 > li{
              margin-bottom: 57px;
            }
  p.contact-sub-text{
    position: relative;
    left: 0%;
    height: 30px;
  }
  .contact-signature {
    position: relative;
    right: 32%;
    margin-top: 50px;
    margin-bottom: 0;
  }
  .submit{
    width: 26%;
    height: 25px;
  }
}

/* iPad */
@media all and (min-width: 738px) and (max-width: 768px) {
  h2{
    font-size: 40px;
   }
h3{
  font-size: 35px;  
}
  h4{
    font-size: 30px;
  }
  
  p{
    font-size: 26px;
      }
      .about-info{
 
        margin-left: 30px;
      
      }
      .about-photo-list{
        width: 50%;
        padding-top: 100px;
        }
        .project-title-1{
          position: relative;
          left: 7%;
        }
        .project-title-2{
          position: relative;
          left: 7%;
        }
        .project1-description{
          position: relative;
          left: 7%;
        }
        .project2-description{
          position: relative;
          left: 7%;
        }
        .skill-title{
          position: relative;
          left: 7%;
        }
        .skill-bars{
          position: relative;
          left: 7%;
        }
        .artwork-list-1, .artwork-list-2, .artwork-list-3{
          width: 31.5%;
          /* border: 1px solid red; */
          flex-direction: column;
          padding: 0;
          margin-top: 15px;
          margin-left: 10px;
          }
          .artwork-list-1 > li{
            margin-bottom: 78px;
          }
          .artwork-list-3 > li{
            margin-bottom: 96px;
          }
          .photography-list-1, .photography-list-2, .photography-list-3{
            width: 31.5%;
            /* border: 1px solid red; */
            flex-direction: column;
            padding: 0;
            margin-top: 15px;
            margin-left: 10px;
            }
            .photography-list-2 > li{
              margin-bottom: 40px;
            }
            .photography-list-3 > li{
              margin-bottom: 59px;
            }
  p.contact-sub-text{
    position: relative;
    height: 80px;
  }
  .contact-signature {
    margin-bottom: 0;
  }
  label{
    font-size: 20px;
  }
  input{
    height: 25px;
  }
  .submit{
    width: 26%;
    height: 40px;
    font-size: 15px;
  }
}
    /* iPhone X landscape */
    @media all and (min-width: 769px) and (max-width: 812px) and (orientation: landscape) {
      h2{
        font-size: 40px;
       }
    h3{
      font-size: 35px;  
    }
      h4{
        font-size: 30px;
      }
      
      p{
        font-size: 26px;
          }
          .about-info{
     
            margin-left: 30px;
          
          }
          .about-photo-list{
            width: 50%;
            padding-top: 60px;
            }
            .project-title-1{
              position: relative;
              left: 7%;
            }
            .project-title-2{
              position: relative;
              left: 7%;
            }
            .project1-description{
              position: relative;
              left: 7%;
            }
            .project2-description{
              position: relative;
              left: 7%;
            }
            .skill-title{
              position: relative;
              left: 7%;
            }
            .skill-bars{
              position: relative;
              left: 7%;
            }
            .artwork-list-1, .artwork-list-2, .artwork-list-3{
              width: 31.7%;
              /* border: 1px solid red; */
              flex-direction: column;
              padding: 0;
              margin-top: 15px;
              margin-left: 10px;
              }
              .artwork-list-1 > li{
                margin-bottom: 83px;
              }
              .artwork-list-3 > li{
                margin-bottom: 101px;
              }
              .photography-list-1, .photography-list-2, .photography-list-3{
                width: 31.7%;
                /* border: 1px solid red; */
                flex-direction: column;
                padding: 0;
                margin-top: 15px;
                margin-left: 10px;
                }
                .photography-list-2 > li{
                  margin-bottom: 43px;
                }
                .photography-list-3 > li{
                  margin-bottom: 63px;
                }
      p.contact-sub-text{
        position: relative;
        height: 50px;
      }
      .contact-signature {
        margin-bottom: 0;
      }
      label{
        font-size: 20px;
      }
      input{
        height: 25px;
      }
      .submit{
        width: 26%;
        height: 40px;
        font-size: 15px;
      }
    }

    /* Pixel 2 XL landscape */
@media all and (min-width: 813px) and (max-width: 823px) and (orientation: landscape) {
  h2{
    font-size: 40px;
   }
h3{
  font-size: 35px;  
}
  h4{
    font-size: 30px;
  }
  
  p{
    font-size: 26px;
      }
      .about-info{
 
        margin-left: 30px;
      
      }
      .about-photo-list{
        width: 50%;
        padding-top: 60px;
        }
        .project-title-1{
          position: relative;
          left: 7%;
        }
        .project-title-2{
          position: relative;
          left: 7%;
        }
        .project1-description{
          position: relative;
          left: 7%;
        }
        .project2-description{
          position: relative;
          left: 7%;
        }
        .skill-title{
          position: relative;
          left: 7%;
        }
        .skill-bars{
          position: relative;
          left: 7%;
        }
        .artwork-list-1, .artwork-list-2, .artwork-list-3{
          width: 31.7%;
          /* border: 1px solid red; */
          flex-direction: column;
          padding: 0;
          margin-top: 15px;
          margin-left: 10px;
          }
          .artwork-list-1 > li{
            margin-bottom: 85px;
          }
          .artwork-list-3 > li{
            margin-bottom: 103px;
          }
          .photography-list-1, .photography-list-2, .photography-list-3{
            width: 31.7%;
            /* border: 1px solid red; */
            flex-direction: column;
            padding: 0;
            margin-top: 15px;
            margin-left: 10px;
            }
            .photography-list-2 > li{
              margin-bottom: 44px;
            }
            .photography-list-3 > li{
              margin-bottom: 64px;
            }
  p.contact-sub-text{
    position: relative;
    height: 50px;
  }
  .contact-signature {
    margin-bottom: 0;
  }
  label{
    font-size: 20px;
  }
  input{
    height: 25px;
  }
  .submit{
    width: 26%;
    height: 40px;
    font-size: 15px;
  }
}
 /* iPad landscape */
 @media all and (orientation: landscape) and (min-width: 824px) and (max-width: 1024px)  {
  h2{
    font-size: 40px;
   }
h3{
  font-size: 35px;  
}
  h4{
    font-size: 30px;
  }
  
  p{
    font-size: 26px;
      }
      .profile{
        width: 100%;
        max-width: 1024px;
        margin-top: 20px;
        margin-bottom: 0;
      
      }
      .about-info{
 
        margin-left: 30px;
      
      }
      .about-photo-list{
        width: 30%;
        padding-top: 60px;
        }
        .project-title-1{
          position: relative;
          left: 3%;
        }
        .project-title-2{
          position: relative;
          left: 3%;
        }
        .project1-description{
          position: relative;
          left: 2%;
        }
        .project2-description{
          position: relative;
          left: 2%;
        }
        .skill-title{
          position: relative;
          left: 3%;
        }
        .skill-bars{
          position: relative;
          left: 3%;
        }
        .artwork-list-1, .artwork-list-2, .artwork-list-3{
          width: 32%;
          /* border: 1px solid red; */
          flex-direction: column;
          padding: 0;
          margin-top: 15px;
          margin-left: 10px;
          }
          .artwork-list-1 > li{
            margin-bottom: 106px;
          }
          .artwork-list-3 > li{
            margin-bottom: 130px;
          }
          .photography-list-1, .photography-list-2, .photography-list-3{
            width: 32%;
            /* border: 1px solid red; */
            flex-direction: column;
            padding: 0;
            margin-top: 15px;
            margin-left: 10px;
            }
            .photography-list-2 > li{
              margin-bottom: 55px;
            }
            .photography-list-3 > li{
              margin-bottom: 80px;
            }
  p.contact-sub-text{
    position: relative;
    height: 50px;
  }
  .contact-signature {
    margin-bottom: 0;
  }
  label{
    font-size: 20px;
  }
  input{
    height: 25px;
  }
  .submit{
    width: 26%;
    height: 40px;
    font-size: 15px;
  }
}
/* iPad Pro  */
@media all and (min-width: 824px) and (max-width: 1024px)  {
  h2{
    font-size: 40px;
    margin-bottom:0;  

   }
h3{
  font-size: 35px;
  margin-top:0;  
}
  h4{
    font-size: 30px;
  }
  
  p{
    font-size: 26px;
      }
      .profile{
        width: 100%;
        max-width: 1024px;
        margin-top: 20px;
        margin-bottom: 0;
      
      }
      .about-info{
 
        margin-left: 30px;
      
      }
      .about-photo-list{
        width: 30%;
        padding-top: 60px;
        }
        .project-title-1{
          position: relative;
          left: 7%;
        }
        .project-title-2{
          position: relative;
          left: 7%;
        }
        .project1-description{
          position: relative;
          left: 7%;
        }
        .project2-description{
          position: relative;
          left: 7%;
        }
        .skill-title{
          position: relative;
          left: 7%;
        }
        .skill-bars{
          position: relative;
          left: 7%;
        }
        .artwork-list-1, .artwork-list-2, .artwork-list-3{
          width: 32%;
          /* border: 1px solid red; */
          flex-direction: column;
          padding: 0;
          margin-top: 15px;
          margin-left: 10px;
          }
          .artwork-list-1 > li{
            margin-bottom: 106px;
          }
          .artwork-list-3 > li{
            margin-bottom: 130px;
          }
          .photography-list-1, .photography-list-2, .photography-list-3{
            width: 32%;
            /* border: 1px solid red; */
            flex-direction: column;
            padding: 0;
            margin-top: 15px;
            margin-left: 10px;
            }
            .photography-list-2 > li{
              margin-bottom: 55px;
            }
            .photography-list-3 > li{
              margin-bottom: 80px;
            }
  p.contact-sub-text{
    position: relative;
    height: 50px;
    margin-left: 40px;
    margin-bottom: 15px;
  }
  .contact-signature {
    margin-bottom: 0;
    margin-left: 33px;
  }
  label{
    font-size: 20px;
  }
  input{
    height: 25px;
  }
  textarea{
    height: 75px;
  }
  .submit{
    width: 26%;
    height: 40px;
    font-size: 15px;
  }
}
/* Desktop */
@media all and (min-width: 1025px) and (max-width: 1280px) {
  h2{
    font-size: 40px;
    margin-bottom:0;  

   }
h3{
  font-size: 38px;
  margin-top:0;  
}
  h4{
    font-size: 34px;
  }
  
  p{
    font-size: 28px;
      }
      .profile{
        width: 100%;
        max-width: 1280px;
        margin-top: 20px;
        margin-bottom: 0;
      
      }
      .about-info{
 
        margin-left: 30px;
      
      }
      .about-photo-list{
        width: 25%;
        padding-top: 60px;
        }
        .project-title-1{
          position: relative;
          left: 9%;
        }
        .project-title-2{
          position: relative;
          left: 9%;
        }
        .project1-description{
          position: relative;
          left: 9%;
        }
        .project2-description{
          position: relative;
          left: 9%;
        }
        .skill-title{
          position: relative;
          left: 9%;
        }
        .skill-bars{
          position: relative;
          left: 9%;
        }
        .artwork-list-1, .artwork-list-2, .artwork-list-3{
          width: 32.3%;
          /* border: 1px solid red; */
          flex-direction: column;
          padding: 0;
          margin-top: 15px;
          margin-left: 10px;
          }
          .artwork-list-1 > li{
            margin-bottom: 134px;
          }
          .artwork-list-3 > li{
            margin-bottom: 164px;
          }
          .photography-list-1, .photography-list-2, .photography-list-3{
            width: 32.3%;
            /* border: 1px solid red; */
            flex-direction: column;
            padding: 0;
            margin-top: 15px;
            margin-left: 10px;
            }
            .photography-list-2 > li{
              margin-bottom: 69px;
            }
            .photography-list-3 > li{
              margin-bottom: 102px;
            }
  p.contact-sub-text{
    position: relative;
    height: 50px;
    margin-left: 65px;
    margin-bottom: 15px;
  }
  .contact-signature {
    margin-bottom: 0;
    margin-left: 65px;
  }
  label{
    font-size: 20px;
  }
  input{
    height: 25px;
  }
  textarea{
    height: 75px;
  }
  .submit{
    width: 26%;
    height: 40px;
    font-size: 15px;
  }
}
/* iPad Pro landscape */
@media all and (min-width: 1281px) and (orientation: landscape) {
  h2{
    font-size: 42px;
    margin-bottom:0;  

   }
h3{
  font-size: 40px;
  margin-top:0;  
}
  h4{
    font-size: 36px;
  }
  
  p{
    font-size: 30px;
      }
      .profile{
        width: 100%;
        max-width: 1366px;
        margin-top: 20px;
        margin-bottom: 0;
      
      }
      .about-info{
 
        margin-left: 30px;
      
      }
      .about-photo-list{
        width: 25%;
        padding-top: 25px;
        }
        .project-list{
          width: 88%;
          margin-left: 80px;
        }
        .project-shot-1{
          width: 50%;
          float: left;
        }
        .project-shot-2{
          float: left;
          width: 25%;
        }
      
        .skill-bars {
          margin-top: 12px;
          position: relative;
          }
          .skillbar-title{
            font-size: 20px;
          }
          .artwork-list-1, .artwork-list-2, .artwork-list-3{
            width: 32.3%;
            /* border: 1px solid red; */
            flex-direction: column;
            padding: 0;
            margin-top: 15px;
            margin-left: 10px;
            }
            .artwork-list-1 > li{
              margin-bottom: 143px;
            }
            .artwork-list-3 > li{
              margin-bottom: 175px;
            }
            .photography-list-1, .photography-list-2, .photography-list-3{
              width: 32.3%;
              /* border: 1px solid red; */
              flex-direction: column;
              padding: 0;
              margin-top: 15px;
              margin-left: 10px;
              }
              .photography-list-2 > li{
                margin-bottom: 75px;
              }
              .photography-list-3 > li{
                margin-bottom: 109px;
              }
  p.contact-sub-text{
    position: relative;
    height: 50px;
    margin-left: 50px;
    margin-bottom: 15px;
  }
  .contact-signature {
    margin-bottom: 0;
    margin-left: 89px;
  }
  label{
    font-size: 20px;
  }
  input{
    height: 25px;
  }
  textarea{
    height: 75px;
  }
  .submit{
    width: 26%;
    height: 40px;
    font-size: 15px;
  }
}