@font-face {
  font-family: Code Light;
  src: url('./fonts/CODE\ Light.otf');
}

@font-face {
  font-family: Code Bold;
  src: url('./fonts/CODE\ Bold.otf');
}
@import url('https://fonts.googleapis.com/css?family=Satisfy');



/* Elements */
h2{
font-size: 20px;
  font-family: Code Bold;
  color: #34E4EA;
}
h3{
    font-family: 'Satisfy', cursive;
font-size: 15px;
}
h4{
  font-family: 'Satisfy', cursive;
font-size: 12px;
}
p{
  
  font-size: 10px;
}
form{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

label{
  font-family: Code Bold;

}

/* Classes */
.App {
  text-align: center;
  background-color: #F5EFED;
}
.profile{
  width: 100%;
  max-width: 720px;
  margin-top: 20px;
  margin-bottom: 20px;

}
.profile-image{
  border-bottom: 1px solid #0F0A0A;
}
.about-container{
  width: 100%;
  /* border: 1px solid red;  */
  border-bottom: 1px solid #0F0A0A;

}
.about-info{
  font-family: Code Light;
  font-size: 10px;
  /* border: 1px solid red; */
  width: 96%;
  display: flex;
  justify-content: center;
  margin-left: 5px;

}

p.about-text{
  width: 50%;
  /* border: 1px solid red; */
  margin-right: 5px;

}
.about-photo-list{
  width: 50%;
  /* border: 1px solid red; */
  flex-direction: column;
  padding: 0;
  padding-top: 50px;

  }

.about-img-1{
  width:100%;
  /* border: 1px solid red; */
padding-bottom: 30px;

}
.about-img-2{
  width: 100%;
  padding-bottom: 30px;

}
.about-img-3{
  width: 100%;
}


.projects-container{
  width: 100%;
  /* border: 1px solid red;  */
  border-bottom: 1px solid #0F0A0A;

}
.project-list{
  width:80%;
}
.project-shot-1{
  width: 50%;
  float: left;
}
.project-shot-2{
  width: 28%;
  float: left;
  margin-top: 10px;
}
.skillbar-title span{
  font-size: 11px;
}
.project-description, .project2-description{
  float: right;
}
.contact-container{
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.contact-title{
  width: 100%;
  margin-bottom:0;
}
p.contact-sub-text{
  font-family: Code Light;
  width: 66%;
  margin-top: 5px;
}
.contact-signature{
  margin-top: 0;
}


.contact-name{
  width: 100%;
  padding-bottom: 15px;
}
.contact-email{
  width: 100%;
}
.contact-message{
  width: 100%;
  padding-bottom: 10px;

}
.submit{
  width: 33%;
  font-family: Code Bold;
  background-color: #0EB1D2;
  padding-top: 3px;
}


/* Ids */

#name-input{
  border: 1px solid #34E4EA;
  width: 40%;

}

#email-input{
  border: 1px solid #34E4EA;
  width: 40%;
}

#message-input{
  border: 1px solid #34E4EA;
  width: 80%;
}

@media all and (max-width: 320px) {

}
/* S5 */
@media all and (min-width: 321px) and (max-width: 360px) {
  .about-photo-list{
    padding-top: 0;
    }
 
  p.contact-sub-text{
    position: relative;
    left: 17%;
  }
  .contact-signature {
    position: relative;
    right: 32%;
    margin-top: 29px;
  }
}
/* iPhone 6/7/8 */

@media all and (min-width: 361px) and (max-width: 375px){
  p.about-text{
    font-size: 11px;
      }
      .about-photo-list{
        padding-top: 32px;
        }
        .project-shot-2{
          width: 30%;
          margin-top: 10px;
        }
      p.contact-sub-text{
        position: relative;
        left: 17%;
      }
      .contact-signature {
        position: relative;
        right: 32%;
        margin-top: 29px;
      }
      
 
}
 /* iPhone X */
 @media only screen and (min-width: 361px) and (max-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
  p.about-text{
    font-size: 11px;
      }
      .about-photo-list{
        padding-top: 32px;
        }
      p.contact-sub-text{
        position: relative;
        left: 17%;
      }
      .contact-signature {
        position: relative;
        right: 32%;
        margin-top: 29px;
      }
 }
/* Pixel 2 */

@media all and (min-width: 376px) and (max-width: 411px) {
  p.about-text{
    font-size: 11px;
      }
      .about-photo-list{
        padding-top: 0px;
        }
        .project-shot-2{
          width: 30%;
          margin-top: 0;
        }
  p.contact-sub-text{
    position: relative;
    left: 15%;
    font-size: 12px;
  }
  .contact-signature {
    position: relative;
    right: 35%;
    margin-top: 36px;
  }
}
/* iPhone 6/7/8 Plus */

@media all and (min-width: 412px) and (max-width: 414px) {
  p.about-text{
    font-size: 11px;
      }
      .about-photo-list{
        padding-top: 0px;
        }
  p.contact-sub-text{
    position: relative;
    font-size: 13px;
  }
  .contact-signature {
    position: relative;
    margin-top: 5px;
  }
  .project-links, .project2-link{
    font-size: 15px;
  }
}
/* iphone 5/SE landscape */
@media all and (min-width: 412px) and (max-width: 568px) and (orientation: landscape) {
  p.about-text{
    font-size: 15px;
      }
      .about-photo-list{
        position: relative;
        bottom: 62px;
        }

        .project-title{
          position: relative;
          left: 3.5%;
        }
        .project-shot-2{
          position: relative;
          bottom: 50px;
        }
        .project2-description{
          font-size: 12px;
        }
        .project-links{
          position: relative;
          left: 3%;
        }
        .skill-title{
          position: relative;
          top: 5px;
          font-size: 15px;
          left: 3%;
        }
        .skill-bars {
          margin-top: 5px;
          }
  p.contact-sub-text{
    position: relative;
    font-size: 13px;
    left: 11.5%;
  }
  .contact-signature {
    position: relative;
    right: 32%;
    margin-top: 29px;
  }
}
/* S5 landscape */
@media all and (min-width: 569px) and (max-width: 640px) and (orientation: landscape) {
  p.about-text{
    font-size: 16px;
      }
      .about-photo-list{
        position: relative;
        bottom: 62px;
        }
        .project-title{
          position: relative;
          left: 4.5%;
        }
  p.contact-sub-text{
    position: relative;
    font-size: 13px;
    left: 11.5%;
  }
  .project-shot-2{
    position: relative;
    bottom: 50px;
  }
  .project2-description{
    font-size: 13px;
  }
  .contact-signature {
    position: relative;
    right: 32%;
    margin-top: 29px;
  }
  .project-links{
    position: relative;
    left: 4%;
  }
  .skill-title{
    position: relative;
    top: 5px;
    font-size: 15px;
    left: 4%;
  }
  .skill-bars {
    margin-top: 2px;
    }
}

/* iPhone 6/7/8 landscape */
@media all and (min-width: 641px) and (max-width: 667px) and (orientation: landscape) {
  p.about-text{
    font-size: 16px;
      }
  .about-photo-list{
        position: relative;
        bottom: 62px;
        }
  .project-title{
          position: relative;
          left: 4.5%;
        }
        .project-description{
          font-size: 11px;
        }
        .project-shot-2{
          position: relative;
          bottom: 30px;
          right: 15%;
        }
        .project2-description{
          margin-left: 100px;
          font-size: 12px;
        }
        .project-links{
          position: relative;
          left: 5%;
        }
        .skill-title{
          position: relative;
          top: 5px;
          font-size: 15px;
          left: 5%;
        }
  p.contact-sub-text{
    position: relative;
    font-size: 13px;
    left: 11.5%;
  }
  .contact-signature {
    position: relative;
    right: 32%;
    margin-top: 29px;
  }
  .skill-title{
    position: relative;
    top: 5px;
    font-size: 15px;
  }
  .skill-bars {
    margin-top: 5px;
  
  }
}
/* Pixel 2 landscape */
@media all and (min-width: 668px) and (max-width: 731px) and (orientation: landscape) {
  p.about-text{
    font-size: 16px;
      }
      .about-photo-list{
        position: relative;
        bottom: 62px;
        }
  p.contact-sub-text{
    position: relative;
    font-size: 13px;
    left: 8%;
  }
  .project-title{
    position: relative;
    left: 5.5%;
  }
  .project-description{
    font-size: 12px;
  }
  .project-shot-2{
    position: relative;
    bottom: 30px;
    right: 14%;
  }
  .project2-description{
    margin-left: 100px;
    font-size: 12px;
  }
  .project-links{
    position: relative;
    left: 6%;
  }
  .skill-title{
    position: relative;
    top: 5px;
    font-size: 15px;
    left: 6%;
  }
  .contact-signature {
    position: relative;
    right: 33.5%;
    margin-top: 29px;
  }
  .skill-title{
    position: relative;
    top: 5px;
    font-size: 15px;
  }
  .skill-bars {
    margin-top: 5px;
    }
}
/* iPhone 6/7/8 Plus landscape */
@media all and (min-width: 732px) and (max-width: 736px) and (orientation: landscape) {
  p.about-text{
    font-size: 18px;
      }
      .about-photo-list{
        position: relative;
        bottom: 62px;
        }
  p.contact-sub-text{
    position: relative;
    font-size: 13px;
    left: 8%;
  }
  .project-title{
    position: relative;
    left: 5.5%;
    font-size: 15px;
  }
  .project-description{
    font-size: 12px;
  }
  .project-shot-2{
    position: relative;
    bottom: 30px;
    right: 12%;
  }
  .project2-description{
    margin-left: 100px;
    font-size: 12px;
  }
  .project-links{
    position: relative;
    left: 7%;
  }
  .skill-title{
    position: relative;
    top: 5px;
    font-size: 15px;
    left: 7%;
  }
  .contact-signature {
    position: relative;
    right: 33.5%;
    margin-top: 29px;
  }
  .skill-title{
    position: relative;
    top: 5px;
    font-size: 15px;
  }
  .skill-bars {
    margin-top: 5px;
    position: relative;
    left: 6%;
    }
}

/* iPad */
@media all and (min-width: 737px) and (max-width: 768px) {
  h2{
    font-size: 30px;
    
    }
  p.about-text{
    font-size: 20px;
      }
      .about-photo-list{
        position: relative;
        bottom: 62px;
        }
        
  p.contact-sub-text{
    position: relative;
    font-size: 20px;
    left: 10%;
    margin-top: 0;
  }
  .contact-container{
    height: 400px;
  }
  .project-title{
    position: relative;
    left: 5.5%;
    font-size: 20px;
  }
  .project-description{
    font-size: 16px;
  }
  .project-shot-2{
    position: relative;
    bottom: 30px;
    right: 12%;
  }
  .project2-description{
    margin-left: 100px;
    font-size: 16px;
  }
  .project-links{
    position: relative;
    left: 7%;
  }
  .skill-title{
    position: relative;
    top: 5px;
    font-size: 15px;
    left: 7%;
  }
  .contact-signature {
    position: relative;
    right: 33.5%;
    margin-top: 60px;
    padding-bottom: 10px;
    font-size: 20px;
  }
  .skill-title{
    position: relative;
    top: 5px;
    font-size: 20px;
  }
  .skill-bars {
    margin-top: 6px;
    position: relative;
    left: 5%;
    }
    .contact-box{
      position: relative;
      bottom: 30px;
    }
}
    /* iPhone X landscape */
    @media all and (min-width: 769px) and (max-width: 812px) and (orientation: landscape) {
      p.about-text{
        font-size: 20px;
          }
          .about-photo-list{
            position: relative;
            bottom: 62px;
            }
            
      p.contact-sub-text{
        position: relative;
        font-size: 20px;
        left: 10%;
        margin-top: 0;
      }
      .contact-container{
        height: 400px;
      }
      .project-title{
        position: relative;
        left: 5.5%;
        font-size: 20px;
      }
      .project-description{
        font-size: 14px;
      }
      .project-links{
        position: relative;
        left: 7%;
      }
      .project-shot-2{
        position: relative;
        bottom: 30px;
        right: 10%;
      }
      .project2-description{
        margin-left: 100px;
        font-size: 14px;
      }
      .project-links{
        position: relative;
        left: 6%;
      }
      .skill-title{
        position: relative;
        top: 5px;
        font-size: 15px;
        left: 6%;
      }
      .contact-signature {
        position: relative;
        right: 32%;
        margin-top: 60px;
        padding-bottom: 10px;
        font-size: 20px;
      }
      .skill-title{
        position: relative;
        top: 5px;
        left: 7%;
        font-size: 20px;
      }
      .skill-bars {
        margin-top: 6px;
        position: relative;
        left: 5%;
        }
        .contact-box{
          position: relative;
          bottom: 30px;
        }
    }

    /* Pixel 2 XL landscape */
@media all and (min-width: 813px) and (max-width: 823px) and (orientation: landscape) {
  p.about-text{
    font-size: 20px;
      }
      .about-photo-list{
        position: relative;
        bottom: 62px;
        }
        
  p.contact-sub-text{
    position: relative;
    font-size: 20px;
    left: 10%;
    margin-top: 0;
  }
  .contact-container{
    height: 400px;
  }
  .project-title{
    position: relative;
    left: 5.5%;
    font-size: 20px;
  }
  .project-description{
    font-size: 14px;
  }
  .project-links{
    position: relative;
    left: 7%;
  }
  .project-shot-2{
    position: relative;
    bottom: 30px;
    right: 10%;
  }
  .project2-description{
    margin-left: 100px;
    font-size: 14px;
  }
  .contact-signature {
    position: relative;
    right: 33.5%;
    margin-top: 60px;
    padding-bottom: 10px;
    font-size: 20px;
  }
  .skill-title{
    position: relative;
    top: 1px;
    left: 7%;
    font-size: 20px;
  }
  .skill-bars {
    margin-top: 1px;
    position: relative;
    left: 5%;
    }
    .contact-box{
      position: relative;
      bottom: 30px;
    }
}
 /* iPad landscape */
 @media all and (orientation: landscape) and (min-width: 824px) and (max-width: 1024px)  {
  h2{
    font-size: 25px;
    
    }
  p.about-text{
    font-size: 25px;
      }
      .about-photo-list{
        position: relative;
        bottom: 62px;
        }
        
  p.contact-sub-text{
    position: relative;
    font-size: 20px;
    left: 9%;
    margin-top: 0;
  }
  .contact-container{
    height: 400px;
  }
  .project-title{
    position: relative;
    left: 8%;
    font-size: 25px;
  }
  .project-description{
    font-size: 17px;
  }
  .project-shot-2{
    position: relative;
    bottom: 30px;
    right: 6%;
  }
  .project2-description{
    margin-left: 100px;
    font-size: 17px;
  }
  .project-links{
    position: relative;
    left: 8%;
  }
  .skill-title{
    position: relative;
    top: 5px;
    font-size: 15px;
    left: 8%;
  }
  .contact-signature {
    position: relative;
    right: 33.5%;
    margin-top: 60px;
    padding-bottom: 10px;
    font-size: 23px;
  }
  .project-links{
    position: relative;
    left: 5%;
  }
  .skill-title{
    position: relative;
    top: 5px;
    left: 5%;
    font-size: 20px;
  }
  .skill-bars {
    margin-top: 5px;
    position: relative;
    left: 5%;
    }
    .contact-box{
      position: relative;
      bottom: 30px;
    }
}
/* iPad Pro  */
@media all and (min-width: 824px) and (max-width: 1024px)  {
  h2{
    font-size: 30px;
    
    }
  p.about-text{
    font-size: 26px;
      }
      .about-photo-list{
        position: relative;
        bottom: 62px;
        }
        
  p.contact-sub-text{
    position: relative;
    font-size: 26px;
    left: 10.5%;
    margin-top: 0;
  }
  .contact-container{
    height: 400px;
  }
  .project-title{
    position: relative;
    left: 8%;
    font-size: 30px;
  }
  .project-description{
    font-size: 17px;
  }
  .project-shot-2{
    position: relative;
    bottom: 30px;
    right: 6%;
  }
  .project2-description{
    margin-left: 100px;
    font-size: 17px;
  }
  .contact-signature {
    position: relative;
    right: 33.5%;
    margin-top: 60px;
    padding-bottom: 10px;
    font-size: 25px;
  }
  .skill-title{
    position: relative;
    top: 1px;
    font-size: 30px;
    left: 8%;
  }
  .project-links{
    position: relative;
    left: 8%;
  }
  .skill-bars {
    margin-top: 1px;
    position: relative;
    left: 5%;
    }
    .contact-box{
      position: relative;
      bottom: 30px;
    }
    label{
      font-size: 20px;
    }
}
/* Desktop */
@media all and (min-width: 1025px) and (max-width: 1280px) {
  .profile-image{
    padding-top: 40px;
    padding-bottom: 40px;
  border-bottom: 1px solid #0F0A0A;
  width: 60%;
  position: relative;
  left: 20%;
  }
  h2{
    font-size: 30px;
    
    }
  p.about-text{
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    left: 5%;
      }
      .about-photo-list{
        position: relative;
        bottom: 62px;
        }
        .about-img-1,.about-img-2,.about-img-3{
          width: 66%;
        }
        
  p.contact-sub-text{
    position: relative;
    font-size: 26px;
    left: 8%;
    margin-top: 0;
  }
  .contact-container{
    height: 400px;
  }
  .project-title{
    position: relative;
    left: 8%;
    font-size: 30px;
  }
  .project-description{
    font-size: 21px;
  }
  .project-links{
    position: relative;
    left: 9%;
  }
  .project-shot-2{
    position: relative;
    bottom: 50px;
    right: 3%;
  }
  .project2-description{
    margin-left: 100px;
    font-size: 21px;
  }
  .contact-signature {
    position: relative;
    right: 33%;
    top: 10px;
    margin-top: 60px;
    padding-bottom: 10px;
    font-size: 25px;
  }
  .skill-title{
    position: relative;
    top: 5px;
    font-size: 30px;
    left: 9%;
  }
  .skill-bars {
    margin-top: 5px;
    position: relative;
    left: 8%;
    }
    .contact-box{
      position: relative;
      bottom: 30px;
    }
    label{
      font-size: 20px;
    }
}
/* iPad Pro landscape */
@media all and (min-width: 1281px) and (orientation: landscape) {
  .profile-image{
    padding-top: 40px;
    padding-bottom: 40px;
  border-bottom: 1px solid #0F0A0A;
  width: 60%;
  position: relative;
  left: 20%;
  }
  h2{
    font-size: 30px;
    
    }
  p.about-text{
    font-size: 26px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    left: 5%;
      }
      .about-photo-list{
        position: relative;
        bottom: 62px;
        }
        .about-img-1,.about-img-2,.about-img-3{
          width: 66%;
        }
        
  p.contact-sub-text{
    position: relative;
    font-size: 26px;
    left: 8%;
    margin-top: 0;
  }
  .contact-container{
    height: 400px;
  }
  .project-title{
    position: relative;
    left: 8%;
    font-size: 30px;
  }
  .project-description{
    font-size: 23px;
  }
  .project-links{
    position: relative;
    left: 9%;
  }
  .project-shot-2{
    position: relative;
    bottom: 30px;
    right: 3%;
  }
  .project2-description{
    margin-left: 100px;
    font-size: 23px;
  }
  .project2-link{
    position: relative;
    right: 1%;
  }
  .contact-signature {
    position: relative;
    right: 33%;
    top: 10px;
    margin-top: 60px;
    padding-bottom: 10px;
    font-size: 25px;
  }
  .skill-title{
    position: relative;
    top: 10px;
    font-size: 30px;
    left: 9%;
  }
  .skill-bars {
    margin-top: 30px;
    position: relative;
    left: 8%;
    }
 
    .contact-box{
      position: relative;
      bottom: 30px;
    }
    label{
      font-size: 20px;
    }
}